* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #FF6F91;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 2em;
    padding: 4em 3em;
}

.title{
    font-size: 3em;
}

hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}

.timer{
    font-size: 10em;
    font-weight: 700;
}

.button-wrapper{
    display: flex;
    gap: 1em;
}

button{ 
    font-size : 2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    transform: translateY(-10px);
}
#start{
    background-color: #FFB3BA ;
}
#stop{
    background-color: #FF6F61 ;
}
#reset{
    background-color: #F9D76D ;
}